@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/RalewayItalic.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway.ttf")format("ttf");
  font-weight: 700;
}

:root{
  --titleColor: #4eb9bc;
  --bgColor: #fafafa;
  --pageColor: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--bgColor);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  background-color: var(--pageColor);
}

.header__container {
  padding: 10px 0;
}

.header__menu {
 padding-right: 40px;
 background-color: var(--titleColor);
}

.header__list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.header__link {
  padding: 0 7px;
  line-height: 50px;
  color: var(--bgColor);
  text-decoration: none;
  transition: color 0.5s;
}

.header__link:hover {
  color: black;
}

.header__image {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  border: 2px solid var(--titleColor);
}

.header__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}

.header__information{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 60%;
  height: 60%;
  padding-right: 40px;
  background-color: var(--titleColor);
  text-transform: uppercase;
}

.header__title {
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 10px;
  line-height: 50px;
  word-spacing: 3px;
  color: var(--bgColor);
}

.header__head {
  margin-top: 0;
  letter-spacing: 2px;
  line-height: 50px;
}

.header__menu__mobile{
  display: none;
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--titleColor);
}

.header__toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  padding-right: 10px;
  cursor: pointer;
  z-index: 3;
}

.header__line1 {
  width: 80%;
  height: 2px;
  background-color: var(--pageColor);
  margin: 3px 0;
  z-index: 3;
}

.header__line2 {
  width: 80%;
  height: 2px;
  background-color: var(--pageColor);
  margin: 3px 0;
  z-index: 3;
}

.header__line3 {
  width: 80%;
  height: 2px;
  background-color: var(--pageColor);
  margin: 3px 0;
  z-index: 3;
}

.header__toggle.active .header__line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}

.header__toggle.active .header__line2 {
  opacity: 0;
}

.header__toggle.active .header__line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}

.main__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 40px 10px;
}

.section {
  width: calc(50% - 20px);
  border-top: 1px solid black;
}

.section__title {
  color: var(--titleColor);
}

.section__text {
  text-align: justify;
 }

.section__list {
  list-style: none;
}

.section__item {
  position: relative;
  margin: 0;
  padding-left: 30px;
}

.section__item:before {
 position: absolute;
 content: '';
 top: 10px;
 left: 5px;
 width: 10px;
 height: 10px;
 background-color: var(--titleColor);
 border-radius: 50%;
}

.section__item a {
  text-decoration: none;
  color: black;
}

.section__item a:hover {
  color: var(--titleColor);
  transition: color 0.5s;
}

.contacts__item a{
  text-decoration: none;
  color: black;
}

.contacts__item {
  position: relative;
  margin: 0;
  padding-left: 35px;
  padding-bottom: 15px;
}

.contacts__item a:hover {
  color: var(--titleColor);
  transition: color 0.5s;
}

.contacts__item:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.contacts__item::before:hover {
 color: var(--titleColor);
}

.contacts__item:nth-child(1):before{
  background-image: url(./../assets/images/location.svg);
}

.contacts__item:nth-child(2):before{
  background-image: url(./../assets/images/phone.svg);
}

.contacts__item:nth-child(3):before{
  background-image: url(./../assets/images/email.svg);
}

.contacts__item:nth-child(4):before{
  background-image: url(./../assets/images/discord.svg);
}

.contacts__item:nth-child(5):before{
  background-image: url(./../assets/images/githubIcon.svg);
}

.contacts__item:nth-child(6):before{
  background-image: url(./../assets/images/linkedin.svg);
}

.skill__item {
  position: relative;
  margin: 0;
  padding-left: 35px;
  padding-bottom: 15px;
}

.skill__item:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.skill__item:nth-child(1):before{
  background-image: url(./../assets/images/html.svg);
}

.skill__item:nth-child(2):before{
  background-image: url(./../assets/images/css.svg);
}

.skill__item:nth-child(3):before{
  background-image: url(./../assets/images/js.svg);
}

.skill__item:nth-child(4):before{
  background-image: url(./../assets/images/react.svg);
}

.skill__item:nth-child(5):before{
  background-image: url(./../assets/images/redux.svg);
}

.skill__item:nth-child(6):before{
  background-image: url(./../assets/images/sass.svg);
}

.skill__item:nth-child(7):before{
  background-image: url(./../assets/images/gulp.svg);
}

.skill__item:nth-child(8):before{
  background-image: url(./../assets/images/githubIcon.svg);
}

.skill__item:nth-child(9):before{
  background-image: url(./../assets/images/figma.svg);
}

.code {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--titleColor);
}

.footer__content {
  display: flex;
  justify-content: space-around;
}

.footer__git {
  width: 100px;
  height: 40px;
  background-image: url(../assets/images/github.svg);
  background-size: contain;
  background-repeat: no-repeat;

}

.footer__rss {
  width: 100px;
  height: 40px;
  background-image: url(../assets/images/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  .header__container {
    padding: 0;
  }

  .header__content {
    flex-direction: column;
    padding: 0;
  }

  .header__information {
    width: 100%;
    margin-top: 10px;
    padding: 0 20px;
    align-items: center;
  }

  .header__title {
    font-size: 26px;
    letter-spacing: 7px;
    word-spacing: 1px;
  }

  .header__menu {
    display: none;
   }

   .header__menu.active {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
   }

   .header__list.active {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 40px;
   }

  .header__menu__mobile {
    display: flex;
  }

  .header__toggle {
    display: flex;
  }

  .main__container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  
  .section {
    width: 100%;
    padding: 0 40px;
  }

  .section:nth-child(1) {
    border: none;
  }

  .section__list {
    padding-left: 0;
  }
}